@charset "utf-8";
/* 서브 페이지 CSS - sub.css */

/* 공통 외부 CSS 불러오기 */
/* @import url(경로/파일명); */

/* 상단 하단 공통모듈 */
@import url(./common.css);

@import url(./core.css);
/* 초기화CSS */
@import url(./reset.css);

/* 공사중 표시 */
body * {
  outline: 2px dashed #ccc;
}

/***************** 메인 CSS ********************/

/* 제목파트 */
.tit3 .inbox {
  max-width: 1360px;
}
/* 하위메뉴 호버시 */
.line1 > a:hover {
  color: #c52531;
  font-weight: bold;
}

.line1 a.active {
  color: #c52531;
  font-weight: bold;
  background-color: transparent;
}

.line1 {
  display: flex;
  height: 30px;
  border-bottom: 2px solid #b3b3b5;
  align-items: center;
  gap: 18px;
  font-size: 1.6rem;
  padding-left: calc(100% / 12);
}

.line2 {
  height: 30px;
  border-bottom: 2px solid #b3b3b5;
  align-content: center;
  padding-left: calc(100% / 12);
}

.link-label {
  cursor: pointer; /* 클릭 가능한 요소임을 표시 */
  display: block; /* 전체 영역 클릭을 위해 필요할 수 있음 */
}
.link-label a {
  text-decoration: none; /* a 태그의 밑줄 제거 */
  color: inherit; /* 부모 요소의 글자색 상속 */
  /* 원하는 스타일링 추가 */
}
.line2 img {
  margin-left: 5px;
}
.line2 a {
  margin-right: 5px;
}
/* input 요소를 숨겨도 작동은됨! */
input[type="radio"] {
  display: none;
}

.check {
  display: flex;
  position: relative;
}

/* 라벨요소 */
label {
  font-size: 1.4rem;
  display: flex;
  gap: 5px;
  line-height: 1.5;
  cursor: pointer;
  margin-right: 13px;
  /* 텍스트와 가상요소 순서를 맞추기 위해 flex-direction: row-reverse 적용 권장 */
  /* flex-direction: row-reverse; */
}

/* 동그라미 크기 설정 */
label::after {
  content: "";
  width: 11px;
  height: 11px;
  margin-top: 4px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
}

/* 라디오 버튼 체크시 라벨 변경 */
/* 체크된 라디오버튼의 다음 형제 라벨요소선택 */
input:checked + label::after {
  background: #c52531;
}

input:checked + label {
  color: #c52531;
}
/* 라디오버튼 체크시
        하단 형제요소인 ul>li 변경하기 */
/* 체크박스/라디오버튼 체크시
        가상클래스는 :checked 
        -> 틸드(~) 선택자는 형제요소들을 모두
        찾아 해당 요소를 선택함!
        */
.line3 {
  font-size: 3.6rem;
  text-align: center;
  align-content: center;
  height: 85px;
  border-bottom: 2px solid #b3b3b5;
  margin-bottom: 35px;
}

/* ////////////////////////////////////////// */

.main-area {
  /* position: relative; */
  max-width: 1360px;
  margin: 0 auto 105px;
}

/* .facilities {
max-width: 424px;
} */

.floor {
  display: flex;
  flex-direction: column;
  color: #808080;
  cursor: pointer;
}

.floortxt {
  width: 434px;
  position: relative;
  display: flex;
  gap: 10px;
  padding: 16px 10px;
  border: 2px solid black;
  height: 73px;
  box-sizing: border-box;
  align-items: center;
  color: #808080;
}

li img {
  width: 32px;
}

div > h3 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 16px;
  padding-left: calc(100% / 12);
}

h4 {
  font-size: 1.6rem;
}

.floorwrap {
  width: 434px;
}

.floortxt::after {
  content: "";
  position: absolute;
  background: url(../images/층버튼\ 미선택.png) no-repeat center center / cover;
  width: 17px;
  height: 17px;
  right: 10px;
  top: 50%;
  translate: 0 -50%;
}

.floor .floortxt.active {
  color: black;
  /* 글씨스타일 두껍게 */
}

/* 선택된 층의 ::after 스타일 */
.floor .floortxt.active::after {
  background-image: url("../images/층버튼.png");
}

.floorcont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 0 calc(100% / 12);
}

span {
  text-align: left;
  font-size: 1.4rem;
  color: #b3b3b5;
  padding-left: calc(100% / 12);
}

.mapwrap {
  position: relative;
  width: 661px;
  height: 439px;
  translate: 0 18%;
  transition: translate 0.4s ease;
  /* position: relative --> absolute position 써야 겹쳐서 사진 배치 가능함 flex 쓰면 무조건 순서대로 가로 세로 배치
  https://www.daleseo.com/css-position-absolute/ 이거 잘 설명되어 있으니까 한번 읽어봐 */
}

/* .mapwrap {
  width: 661px;
  height: 439px;
  display: flex;
  flex-direction: column;  --> 이건 세로로 사진들을 배치해버림 == 사진이 한 위치에 고정 불가 
  gap: -50px;  --> 아마 이걸로 강제로 겹치려고 한거같은데 flex에서는 음수 못써, 무효됨
}
*/

.mapwrap > div {
  position: absolute;
  inset: 0; /* .mapwrap > div에 있는걸 .mapwrap 크기에 딱 맞춰 배치 (부모 위 좌상단부터 우하단까지 덮는단 소리) */
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mapwrap img {
  width: 100%;
}

.mapwrap [class*="floor_"].on img {
  opacity: 1;
}
/* 층별 위치감 일단 세로로만 차이둠 (피라미드 식으로 하고싶으면 x축도 추가해주면 됨 ex) transform: translate(-60px, -60px) */
.mapwrap [data-floor="5F"] .img {
  transform: translateY(0px);
}
.mapwrap [data-floor="4F"] .img {
  transform: translateY(36px);
}
.mapwrap [data-floor="3F"] .img {
  transform: translateY(72px);
}
.mapwrap [data-floor="2F"] .img {
  transform: translateY(108px);
}
.mapwrap [data-floor="1F"] .img {
  transform: translateY(144px);
}
.mapwrap [data-floor="B1F"] .img {
  transform: translateY(180px);
}

.mapwrap > div:not([style*="opacity: 1"]) img {
  width: 97%;
  /* 기본 이미지 (아래 깔리는 층) 크기를 80%로 축소 */
  margin-left: auto;
  margin-right: 0;
}
.desc {
  display: none; /* 처음엔 모든 층 설명 숨기기 */
  margin-top: 10px;
}
/* ////////////// */
