@charset "utf-8";
/* 서브 페이지 CSS - sub.css */

/* 공통 외부 CSS 불러오기 */
/* @import url(경로/파일명); */

/* 상단 하단 공통모듈 */
@import url(./common.css);

@import url(./core.css);
/* 초기화CSS */
@import url(./reset.css);

/* 공사중 표시 */
body * {
  outline: 2px dashed #ccc;
}

/***************** 메인 CSS ********************/

/* 제목파트 */
.tit3 .inbox {
  max-width: 1360px;
}



/* 하위메뉴 호버시 */
.line1 > a:hover {
  color: #c52531;
  font-weight: bold;
}

.line1 a.active {
    color: #c52531;
    font-weight: bold;
    background-color: transparent;
}


.line1 {
  display: flex;
  height: 30px;
  border-bottom: 2px solid #b3b3b5;
  align-items: center;
  gap: 18px;
  font-size: 1.6rem;
  padding-left: calc(100% / 12);
}

.line2 {
  height: 30px;
  border-bottom: 2px solid #b3b3b5;
  align-content: center;

  padding-left: calc(100% / 12);
}
.link-label {
    cursor: pointer; /* 클릭 가능한 요소임을 표시 */
    display: block; /* 전체 영역 클릭을 위해 필요할 수 있음 */
}
.link-label a {
    text-decoration: none; /* a 태그의 밑줄 제거 */
    color: inherit; /* 부모 요소의 글자색 상속 */
    /* 원하는 스타일링 추가 */
}
.line2 img {
  margin-left: 5px;
}
.line2 a {
  margin-right: 5px;
}
/* input 요소를 숨겨도 작동은됨! */
input[type="radio"] {
  display: none; 
}

.check {
  display: flex;
  position: relative;
}

/* 라벨요소 */
label {
      font-size: 1.4rem;
  display: flex;
  gap: 5px;
  line-height: 1.5;
  cursor: pointer;
  margin-right: 13px;
  /* 텍스트와 가상요소 순서를 맞추기 위해 flex-direction: row-reverse 적용 권장 */
  /* flex-direction: row-reverse; */ 
}

/* 동그라미 크기 설정 */
label::after {
  content: '';
  width: 11px;
  height: 11px;
  margin-top: 4px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
}

/* 라디오 버튼 체크시 라벨 변경 */
/* 체크된 라디오버튼의 다음 형제 라벨요소선택 */
input:checked + label::after {
  background: #c52531;
}

input:checked + label {
  color: #c52531;
}
/* 라디오버튼 체크시
        하단 형제요소인 ul>li 변경하기 */
/* 체크박스/라디오버튼 체크시
        가상클래스는 :checked 
        -> 틸드(~) 선택자는 형제요소들을 모두
        찾아 해당 요소를 선택함!
        */

.line3 {
  font-size: 3.6rem;
  text-align: center;
  align-content: center;
  height: 85px;
  border-bottom: 2px solid #b3b3b5;
  margin-bottom: 35px;
}

/* ////////////////////////////////////////// */

.main-area {
  max-width: 1114px;
  margin: 0 auto;
}

.main-box {
  position: relative;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
}

.map1 > iframe {
  padding-bottom: 40px;
  width: 1114px;
  height: 356px;
  margin: 0 auto;
}

.left {
  width: 50%;
  text-align: left;
  box-sizing: border-box;
  /* padding-left: calc(100% / 13.5); */
}

.btn {
  display: flex;
  gap: 14px;
  margin-top: 13px;
}

.right {
  width: 50%;

  text-align: left;
  box-sizing: border-box;
  /* padding-right: calc(100% / 13.5); */
}

.txtcontent {
  display: flex;
  gap: 4vw;
  /* margin-bottom: 40px; */
  /* column-count: 2; */
}
.txt-box {
  /* column-count: 2; */

  text-align: justify;
  /* 영문에서 양쪽 정렬일 경우
  단어단위로 줄바꿈이 되므로 중간에
  구멍이 생김. 따라서 단어깨기설정필요! */
  /* 단어깨기 : 모두깨기(break-all) */
  word-break: break-all;
  /* 다중열 구분선 값은 보더와 같음
  -> 두종색! -> 두께 종류 색상 */
}

.txt1,
.txt2 {
  margin-bottom: 40px;
}

.info-box h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
.info-box p {
  font-size: 1.8rem;
  padding-top: 14px;
}
.info-box span {
  font-size: 1.6rem;
  color: #b3b3b5;
}

.info-box {
  display: flex;
  justify-content: space-evenly;
}

/* .txt-box */
.info-box::after {
  position: absolute;
  content: "";
  border: 1px solid #b3b3b5;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}
.time {
  line-height: 38px;
}

.hour h3 {
  padding-top: 18px;
}
.closed h3 {
  padding-top: 18px;
}

.ubtn {
  margin: 38px 0;
  text-align: center;
}
section#upBtn {
  margin: 0 auto;
  width: 38px;
}
.image-wrapper {
  position: relative; /* 자식 이미지의 절대 위치 기준점 */
  width: 38px; /* 이미지의 실제 너비에 맞춰 조정 */
  height: 38px; /* 이미지의 실제 높이에 맞춰 조정 */
}

/* 3. 모든 이미지에 적용: 겹쳐 놓기 및 부드러운 전환 효과 */
.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease; /* 투명도 전환 시 0.3초 동안 부드럽게 */
}

/* 4. 호버 이미지 숨기기 (기본 상태) */
.hover-arrow {
  opacity: 0; /* 평소에는 투명하게 숨김 */
}

/* 5. 호버 시 이미지 전환 */
.image-wrapper:hover .default-arrow {
  opacity: 0; /* 기본 이미지를 투명하게 만들어서 숨김 */
}

.image-wrapper:hover .hover-arrow {
  opacity: 1; /* 호버 이미지를 보이게 함 */
}
button{
border-radius: 0.2vw;
    background: white;
    font-size: 1.6rem;
}